.Servulo{
    margin-top: 1em;
    text-decoration: none;
    font-family: 'f1';
    color: white;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    background-color: inherit;
}

.Servulo:hover{
    color: purple;
    
}